h1{
    color: red;
    font-size: 100px;
}
img:hover{
    background-color: gold;
}
.broccoli{
    background-color: red;
}
.bacon{
    background-color: green;
}

#heading big{
    color: blue;
}
#big{
    font-size: 50px;
}
.circular{
    border-radius: 100%;
}